.Loading_box
    width : 100vw
    height : 100vh
    position fixed
    top : 0
    left : 0
    .spinner 
        margin: 4rem auto;
        width: 4rem;
        height: 3rem;
        text-align: center;
        div  
            background-color: yellow;
            height: 100%;
            width: .2rem;
            display: inline-block;
            margin : 0 .03rem;
            -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
            animation: stretchdelay 1.2s infinite ease-in-out;
        .rect2 
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
            
        
        .rect3
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        
        
        .rect4
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        
        
        .rect5
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
        
        
@keyframes stretchdelay 
    0%, 40%, 100% 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    20% 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
   