#User {
    width: 100vw;

    .tip {
        width: 100%;
        height: 13vw;
        line-height: 13vw;
        font-size: 3.4vw;
        font-weight: bold;
        color: #9d0000;
        padding-left: 4vw;
        box-sizing: border-box;
    }

    .user_box {
        width: 90vw;
        margin: 3vw auto 0;
        display: flex;

        .img_box {
            width: 34.3vw;
            height: 48.1vw;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .text_box {
            width: 46vw;
            height: 48.1vw;
            margin-left: 5.4vw;

            .name {
                font-size: 4.6vw;
                line-height: 6vw;
                font-weight: bold;
                color: #333;
            }

            .position {
                width: 100%;
                line-height: 5.4vw;
                font-size: 3vw;
                color: #858585;
                margin-top: 4vw;
                margin-bottom: 7.7vw;
            }

            .tag {
                font-size: 3.2vw;
                height: 6.3vw;
                width: 31.5vw;
                border-radius: 2.2vw;
                color: #bf1920;
                border: 1px solid #bf1920;
                text-align: center;
                line-height: 6.3vw;
            }
        }
    }

    .dec_box {
        width: 90vw;
        margin: 6vw auto 0;

        .title {
            width: 90vw;
            height: 4.2vw;
            display: flex;
            justify-content: flex-start;
            align-content: center;
            align-items: center;

            img {
                width: 5.7vw;
                margin-right: 2vw;
                flex-shrink: 0;
            }

            span {
                font-size: 3.1vw;
                font-weight: bold;
                color: #444444;
                width: 13.1vw;
                margin-right: 3.2vw;
                flex-shrink: 0;
            }

            div {
                width: 100%;
                height: 1px;
                background: #bfbfbf;
            }
        }
        .dec_content{
            width 100%
            margin-top 4vw
            font-size 3vw
            color: #808080
            line-height 5vw
            margin-bottom 5.4vw
            }
    }
        .About{
            width 100vw
            height 5.4vw
            display: flex
            align-content: center
            align-items: center
            img{
                width 7.5vw
                margin-left 5.4vw
            }
            span{
                font-size 5vw
                color: #bf1920
                margin-left 3vw
                font-weight bold
            }
            }
        .about_content{
            width 100vw
            box-sizing: border-box
            padding 5.5vw
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            &>div{
                margin-left 0
                }
            }
}