#Index{
    width 100vw
    height 100vh
    background: #fff url(http://www.raziel.site/general/bg.png) top no-repeat
    background-size 100%  
    position absolute
    top 0
    left 0
    .preview{
        width 88.4vw
        height 50.03vw
        margin 53.8vw auto 0
        box-shadow: 0 0 4.8vw rgba(0,0,0,.2)
        border-radius: 2.8vw
        position relative
        display: flex
        overflow: hidden
        justify-content: center
        align-content: center
        align-items: center
        margin-bottom: 7.7vw
        .playbtn{
            width 10.7vw
            height 10.7vw
            background: url(../../img/playbtn.png)
            background-size: 100% 100%
            position absolute
            z-index: 99
            }
        .tip{
            position absolute
            bottom 2.7vw
            font-size 3.2vw
            text-align left
            width 100%
            color: #fff
            font-weight bold
            box-sizing: border-box
            padding-left 5.9vw
            }
        }
}

